.card {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);

  background-color: var(--clr-white);
  border-radius: var(--border-radius-6);
  box-shadow: var(--box-shadow-8);
  height: fit-content;
  max-width: 600px;
  padding: var(--space-6);
}

.card.brand {
  background-color: var(--clr-brand-700);
}

.card.brand > * {
  color: var(--clr-gray-50);
}

.card.dark {
  background-color: var(--clr-gray-900);
}

.card.glass {
  backdrop-filter: blur(10px) saturate(125%);
  -webkit-backdrop-filter: blur(10px) saturate(125%);
  background-color: rgba(255, 255, 255, 0.25);
}

.card.success {
  background-color: var(--clr-success-100);
  border: var(--border-width-2) solid var(--clr-success-700);
}

.card.success > * {
  color: var(--clr-success-700);
}