.clr-white {
  color: var(--clr-white) !important;
}

.clr-gray-50 {
  color: var(--clr-gray-50) !important;
}

.clr-gray-100 {
  color: var(--clr-gray-100) !important;
}

.clr-gray-200 {
  color: var(--clr-gray-200) !important;
}

.clr-gray-300 {
  color: var(--clr-gray-300) !important;
}

.clr-gray-400 {
  color: var(--clr-gray-400) !important;
}

.clr-gray-500 {
  color: var(--clr-gray-500) !important;
}

.clr-gray-600 {
  color: var(--clr-gray-600) !important;
}

.clr-gray-700 {
  color: var(--clr-gray-700) !important;
}

.clr-gray-800 {
  color: var(--clr-gray-800) !important;
}

.clr-gray-900 {
  color: var(--clr-gray-900) !important;
}

.clr-black {
  color: var(--clr-black) !important;
}
