button.text {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  color: var(--clr-brand-600);
  transition-duration: var(--duration-2);
  transition-property: background-color, border-color;
  transition-timing-function: ease-in;
}
  
button.text:hover {
  background-color: var(--clr-brand-100);
  border-color: var(--clr-brand-100);
}

button.text.accent {
  color: var(--clr-accent-600);
}
  
button.text.accent:hover {
  background-color: var(--clr-accent-100);
  border-color: var(--clr-accent-100);
}

button.text.danger {
  color: var(--clr-danger-600);
}
  
button.text.danger:hover {
  background-color: var(--clr-danger-100);
  border-color: var(--clr-danger-100);
}
  
button.text.gray {
  color: var(--clr-gray-600);
}
  
button.text.gray:hover {
  background-color: var(--clr-gray-100);
  border-color: var(--clr-gray-100);
}
    
button.text.success {
  color: var(--clr-success-600);
}
  
button.text.success:hover {
  background-color: var(--clr-success-100);
  border-color: var(--clr-success-100);
}